.DashboardMain {
    margin-top: 10vh;
}

.DashboardText {
    text-align: center;
}

.centerMe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.giveMeSpace {
    margin-top: 5vh;
    padding-bottom: 5vh;
}

.giveMeSmallSpace {
    margin-top: 2vh;
    padding-bottom: 2vh;
}

.hidden {
    display: none;
}