code {
    transform: translateZ(0);
    min-width: 100%;
    float: left;

    &>span {
        display: block;
    }
}

.highlighter {
    padding: 1em;
    border-radius: 0.3em;
    color: rgb(197, 200, 198);
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px;
    font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    tab-size: 4;
    height: 60vh;
    margin: 0.5em 0px;
}

span.linenumber {
    display: none;
}

.MarkdownApp {
    background: rgb(40, 44, 52) none repeat scroll 0% 0%;
    padding: 2em;
    border-radius: 0.3em;
    color: rgb(197, 200, 198);
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px;
    font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    tab-size: 4;
    height: 60vh;
    margin: 0.5em 0px;
}

.editorSmallWidth {
    width: 48%
}

.editorBigWidth {
    width: 100%;
}

.editor {
    height: 60vh;
    border: none;
    resize: none;
    // hyphens: none;
    outline: none;

    padding: 10px;

    background: rgb(40, 44, 52) none repeat scroll 0% 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    color: rgb(197, 200, 198);
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px;
    font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    tab-size: 4;

    padding: 1em;
    margin: 0.5em 0px;
    overflow: auto;
    border-radius: 0.3em;
}

.giveMeSpace {
    margin-top: 5vh;
    padding-bottom: 5vh;
}

.giveMeSmallSpace {
    margin-top: 2vh;
    padding-bottom: 2vh;
}

.Displayflex {
    display: flex;
    justify-content: space-between;
}

.centerMe {
    display: flex;
    align-items: center;
    justify-content: center;
}


.ApiDocs {
    font-family: "Roboto",
        "Helvetica",
        "Arial",
        sans-serif;
    font-size: 20;
    line-height: 1.75;
}