.App {
    margin-top: 10vh;
}

.CenterText {
    text-align: center;
}

.centerMe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.giveMeSpace {
    margin-top: 5vh;
    padding-bottom: 5vh;
}

.giveMeSmallSpace {
    margin-top: 2vh;
    padding-bottom: 2vh;
}

.alignText {
    display: flex;
    align-items: left;
    justify-content: left;
    align-self: left;
}

.alignBoxRight {
    display: flex;
    align-items: right;
    align-self: right;
    justify-content: right;
}