@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
$primary-color: #525dce;
$primary-background: rgb(48, 47, 47);

$dark: #343a40;
$info: #17a2b8;
$warning: #ffc107;
$success: #28a745;
$danger: #dc3545;

$color-light: #fff;
$color-dark: #111;

html, body {
    height: 100%;
    font-size: medium;
    //overflow: auto;
    
}

html {
    font-size: 62.5%;
    line-height: 1;
    font-family: 'Ubuntu Mono', monospace;
}

h1, h2, h3, h4, h5 {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;

    color: whitesmoke;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to left top, #000029 0%,#020217 50%,#000029 100% ), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    background-color: #020217;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

.App-link {
    color: #0e6d88; //#61dafb
}